:root {
  --darkest: #1e1e1e;
  --darker: #252526;
  --dark: #2d2d30;
  --light-dark: #3e3e42;
  --blue: #007acc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  /*outline: dotted red 1px;*/
}
.container {
  width: 100%;
  background: var(--light-dark);
}
body {
  width: 100%;
  background: var(--light-dark);
}
header {
  width: 100%;
  height: 74px;
  background: var(--darker);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: min(100% - 20px, 1300px);
  margin-inline: auto;
}
nav h1 {
  color: #fff;
  text-decoration: none;
}
ul {
  display: flex;
  list-style-type: none;
}
ul li {
  text-decoration: none;
  color: #fff;
  margin: 2px;
  padding: 10px 12px;
  font-size: 1.2rem;
}
ul li:hover {
  background: #301934;
  border-radius: 25px;
  border: solid #fff 1px;
}
.profilePicture {
  height: 45px;
  border-radius: 50%;
  margin-left: 20px;
  aspect-ratio: 1/1;
}

/* Sign up form */
.form-wrapper {
  height: auto;
  width: min(100% - 20px, 800px);
  background: var(--darkest);
  border-radius: 20px;
  margin: 50px auto;
}
.form-wrapper h1 {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  font-size: 2.5rem;
}
.form-container {
  width: 100%;
  padding: 20px 30px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-container form .form-elements {
  display: flex;
  flex-direction: column;
}
.form-container form .form-elements label {
  color: #fff;
  font-size: 1.5rem;
}
.form-container form .form-elements input {
  background: #b2beb5;
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 5px 20px;
}
.form-container form .signup {
  padding: 5px 20px;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1.3rem;
  background: var(--blue);
  color: var(--darkest);
}
.form-container form .signup:hover {
  background: var(--light-dark);
  color: #fff;
}
.form-container .question {
  margin-top: 10px;
}
.form-container .question p {
  display: inline;
  color: #fff;
}
.form-container .question span {
  color: var(--blue);
}
.error {
  color: red;
}
.success {
  color: green;
}
.googleBtn {
  padding: 5px 20px;
  cursor: pointer;
  font-size: 1.3rem;
  border-radius: 20px;
  background: #db4437;
  color: #fff;
}

/* CSS for profile */
.profile-container {
  width: min(100% - 25px, 700px);
  margin: 20px auto;
  background: var(--dark);
  border-radius: 30px;
  padding: 20px;
}
.profile-container h1 {
  text-align: center;
  color: #fff;
}
.profile-container form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
.profile-container form img {
  aspect-ratio: 1/1;
  border-radius: 50%;
  cursor: pointer;
  height: 115px;
  align-self: center;
  margin: 20px;
  margin-top: 40px;
}
.profile-container form .body-container {
  display: flex;
  flex-direction: column;
}
.profile-container form .body-container input {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1.4rem;
  margin: 5px 0;
}
.update-btn {
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.4rem;
  background: var(--blue);
  cursor: pointer;
  color: #fff;
  margin: 15px 0;
}
.update-btn:hover {
  background: green;
}
.btns {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.btns span {
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
}
.img-text {
  align-self: center;
  color: #fff;
}
.img-err {
  color: red;
}
.img-success {
  color: green;
}

/* CSS FOR HOMEPAGE */
.home-container {
  width: min(100% - 40px, 1300px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 40px;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  position: relative;
}
.home-container .content-container {
  width: min(100% - 25px, 900px);
}
.home-container h1 {
  color: #fff;
  text-align: center;
  margin: 20px 0;
  font-size: clamp(1.5rem, 3vw, 2.2rem);
}
.home-container p {
  color: #fff;
  font-size: clamp(0.8rem, 2vw, 1.5rem);
  text-align: justify;
}
.pfp-container {
  background: var(--darkest);
  display: flex;
  width: min(100% - 10px, auto);
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border-radius: 100px;
  align-self: flex-end;
  gap: 20px;
}
.pfp-container .pfp {
  height: 60px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.pfp-container .logout {
  height: 30px;
  aspect-ratio: 1/1;
  margin-right: 10px;
  cursor: pointer;
}
.pfp-container .logout:hover {
  fill: red;
}
.right {
  align-self: flex-end;
}
